%h2 All Movies

%table#movies{:border => 1, :width => "100%"}
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th Movie Details
      %th Edit
      %th Delete?
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "Click to see the details of \"#{movie.title}\"", movie_path(movie)
        %td= link_to '   Edit this movie   ', edit_movie_path(movie), :method => :get
        %td= link_to "[Delete \"#{movie.title}\"]", movie_path(movie), :method => :delete, confirm: "are you sure?"

= link_to 'Add a new movie', new_movie_path
