%h1 All Movies

%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th Movie Details
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "Click to see the details of \"#{movie.title}\" ...", movie_path(movie)
        
= link_to "Add new movie", movie_path("movie/new")

-#If the controller is being passed a message text, show it in a div at the far bottom
- if defined? @message
  #message{:style => "color:red;"}= @message
